body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.form-box {
  width: 100%;
  max-width: 320px;
  background-color: #ffffff;
}

form {
  width: 100%;
}

input,
button,select {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding:8px;
}

button{
    background-color: rgb(7, 7, 101);
    border:none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
}

button:hover{
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}