ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(6, 114, 6);
    overflow: hidden;
}

li{
    float: left;

}

li a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

li a:hover{
    background-color: black;
}

.fruits{
    background-color: antiquewhite;
    border: 1px dashed gray;
    text-align: center;
}

.cars{
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid grey;
}
#computers{
    background-color: orange;
    border:1px dotted gray;
}