h2{
    color: darkblue;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 70%;
    border-collapse: collapse;
    margin: auto;
    font-family: Arial, sans-serif;
}
th,td{
    border: 1px solid rgb(116, 114, 114);
}